<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda commodi cupiditate nesciunt reiciendis praesentium dolor alias nam non natus neque ut, veniam aspernatur quasi consectetur explicabo at totam eveniet cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reprehenderit tempora fuga repellendus praesentium architecto provident, laudantium harum dolor officia repudiandae reiciendis eaque cum eos quia ex. Debitis, officiis laborum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis quia repellendus expedita, provident totam saepe molestias dolores optio, quae ut dolore quasi error eligendi veniam labore, ab repellat quos?</p>
    </div>
    
</body>
<%- include('./partials/footer.ejs') %>
</html>